{% extends 'main/base.html' %}
{% load static %}

{% block style %}
{% static 'account/css/main.css' %}
{% endblock style %}

{% block title %}
{{ siteName|default:'siteName'|upper }} Holdings | Password Reset Confirm
{% endblock title %}

{% block site__head %}
style='font-weight: bold; color: #5E0623; font-size: 20px;'
{% endblock %}

{% block header %}
header__three
{% endblock header %}

{% block content %}
<!-- SIGNUP PAGE -->
<section class="account px-lg-5 px-1 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background: url({% static 'img/outlook/bg/pageheader.jpg' %}); border: none;">
                    <div class="card-body" style="box-shadow: rgb(5 33 148) 0px 3px 10px 0px;">
                        <h4 class="pb-2 text-light text-xl-start">Set a new password</h4>

                        <!-- Render Errors -->
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show pb-0" role="alert">
                            <div id="form_errors" style="line-height: 1;">
                                {% for key, value in form.errors.items %}
                                <small>{{ value }}</small>
                                {% endfor %}
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                        <form method="post" class="mb-3" style="letter-spacing: 1px;">
                            {% csrf_token %}
                            <div class="mb-3 form-group">
                                <label for="password1" class="form-label text-light">New Password *</label>
                                <input type="password" id="password1" class="form-control form-control-md"
                                    name="new_password1" placeholder="New password">
                            </div>
                            <div class="mb-4 form-group">
                                <label for="password2" class="form-label text-light">Confirm Password *</label>
                                <input type="password" id="password2" class="form-control form-control-md"
                                    name="new_password2" placeholder="Confirm new password">
                            </div>

                            <div class="form-group mt-4">
                                <button class="btn btn-md btn-primary w-100 account__confirm">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}