{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    {% static 'account/css/main.css' %}
{% endblock style %}

{% block title %}
{{ siteName|default:'siteName'|upper }} Holdings | Forgot Password
{% endblock title %}

{% block header %}
header__three
{% endblock header %}

{% block content %}
<!-- LOGIN PAGE -->
<section class="account px-lg-5 px-1 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background: #fff; border: none;">
                    <div class="card-body" style="box-shadow: rgb(1 1 75) 0px 3px 10px 0px;">
                        <h4 class="text-dark text-xl-start">Recover your password</h4>
                        {% include 'dashboard/includes/messaging.html' %}
                        <p class="text-xl-start mb-0 pb-0" style="font-size: 14px;">
                            Enter your email address below, and we will email you instructions.
                        </p>

                        <!-- Render Errors -->
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show pb-0" role="alert">
                            <div id="form_errors" style="line-height: 1;">
                                {% for key, value in form.errors.items %}
                                <small>{{ value }}</small>
                                {% endfor %}
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                        <form method="post" class="mb-3" style="letter-spacing: 1px;">
                            {% csrf_token %}
                            <div class="mb-3 form-group">
                                <label for="email" class="form-label text-light">Email *</label>
                                {{ form.email }}
                            </div>

                            <div class="form-group mt-4">
                                <button class="btn btn-md btn-primary w-100 account__confirm">
                                    Send Email
                                </button>
                            </div>
                        </form>
                        <p class="text-center text-dark pb-0 mb-0">
                            Don't have an account?
                            <a href="{% url 'account:register' %}"
                                class="text-dark ml-0 pl-0"
                                style="text-decoration: underline; font-size: 15px;">Register</a>
                        </p>
                        <p class="text-center text-dark">
                            Already have an account?
                            <a href="{% url 'account:login' %}"
                                class="text-dark ml-0 pl-0"
                                style="text-decoration: underline; font-size: 15px;">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .alert {
        border-radius: 12px !important;
    }
    small ul li {
        list-style: square !important;
        padding-bottom: 4px !important;
    }
    small ul {
        padding-left: 10px !important;
        padding-bottom: 10px !important;
    }
    input {
        color: #000 !important;
    }
</style>
{% endblock content %}