{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ siteName|default:'siteName'|upper }} Holdings | AI Trading
{% endblock title %}

{% block site__head %}
style='font-weight: bold; color: #5E0623; font-size: 20px;'
{% endblock %}

{% block header %}
header__three
{% endblock header %}

{% block content %}
<!-- ==========Page Header Section Starts Here========== -->
<div class="pageheader" style="background: url({% static 'img/outlook/bg/pageheader.jpg' %});">
    <div class="container">
        <div class="pageheader__content">
            <h2>AI Trading</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home | </a></li>
                    <li class="px-2 active" aria-current="page" style="color: #5E0623;"> AI Trading</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->



<!-- ==========About Section Starts Here========== -->
<div class="about padding-tb">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 col-12">
                <div class="about__content">
                    <h2>WHAT IS A TRADING SYSTEM THAT IS AUTOMATED?</h2>
                    <p>

                        Market habits are highly dynamic in the realm of forex. It can be challenging to forecast when
                        and where to trade in order to get the most profits on your coin, especially with the burgeoning
                        cryptocurrency market of today. With an automated system, you'll be able to live stress-free
                        knowing that a trading robot will handle all of your trading. Trading robots are computer
                        programs that decide whether to trade using mathematical algorithms.
                    </p>
                    <p>

                        The trading robots are able to derive indications from market swings that are then converted
                        into orders that facilitate trading. Trading robots take away all of the psychological stress
                        associated with forex trading.<br />
                        Our conviction that comprehensive fundamental analysis, a long-term investment perspective, and
                        a valuation discipline can yield appealing long-term investment performance for our clients has
                        not altered.</p>


                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="thumb">
                                <img src="{% static 'img/ai/1a.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb">
                                <img src="{% static 'img/ai/1b.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb thumb--content">
                                <h4>AI
                                    <br />
                                    Trading Program
                                </h4>
                                <img src="{% static 'img/about/icon/03.png' %}" alt="about icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p style="margin-top: 10px; margin-bottom: 5px;">

                To build solid, enduring partnerships with our clients throughout our history, we have always aligned
                our interests with theirs. We are able to consistently apply our value-oriented investment philosophy
                across all of our solutions because to our unwavering focus on investment excellence.<br />

                The scope and depth of our research, the tactics we provide, and the clientele we serve have all been
                globalized since our inception.
                <br />

                We are appreciative of the faith our clients put in our business and personnel. If you are an existing
                client or shareholder in the Fund, we look forward to continuing to assist you in achieving your
                financial objectives.

                <br />

                If we haven't already worked together, we sincerely hope you'll give us the chance to learn more about
                your investment objectives and how our value-oriented strategy might support you in achieving them.
            </p>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->


<!-- ==========specialtie Section Starts Here========== -->
<div class="specialtie specialtie__two padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="specialtie__item">
                        <div class="specialtie__inner">
                            <div class="specialtie__thumb">
                                <img src="{% static 'img/ai/2.jpg' %}" alt="" class="w-100" />
                            </div>
                            <div class="specialtie__content">
                                <h3>smart and adaptive</h3>

                                <p>


                                    Being adaptive and smart means taking advantage of the numerous values present in
                                    the unregulated cryptocurrency market by simultaneously purchasing and selling
                                    currencies. <br />The Cryptocurrency CFD Trader automation is one such technology
                                    that accomplishes this task effectively.<br /> You can count on having a speedy,
                                    secure, and safe trading history with this system.
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========specialtie Section Ends Here========== -->


<!-- ==========About Section Starts Here========== -->
<div class="about padding-tb">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 col-12">
                <div class="about__content">
                    <h2>No Emotions</h2>
                    <p>
                        One of the biggest challenges in forex trading is uncertainty. <br />
                        It serves as the impediment that prevents you from making wise trading choices. On the other
                        side, the emotional motivation that enables you to engage in irrational trading is greed.<br />
                        All of these are psychological indulgences that trading machines do not exhibit. <br />
                        Trading robots are even more effective because they don't rely on guesses. <br />
                        This is because they objectively provide the most quantifiable trading data by using historical
                        tactics.</p>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/about/icon/01.png' %}" alt="about icon" />
                            </div>
                            <div class="text">
                                <h6>Quick to Act</h6>
                            </div>
                        </li>

                    </ul>
                    <p>The trading robot's ability to spot opportunities and act on them depends on the speed of the
                        computer. When compared to a human trader who must manually enter an order, this is
                        incomparable. Accordingly, it would require a large number of brilliant individuals to do what a
                        trading robot can in a single trading session.</p>

                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="col-12 mb-4">
                            <div class="thumb">
                                <img src="{% static 'img/ai/3a.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb">
                                <img src="{% static 'img/ai/3b.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb thumb--content">
                                <h4>Corporate
                                    <br />
                                    Ethics Program
                                </h4>
                                <img src="{% static 'img/about/icon/03.png' %}" alt="about icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->



<!-- ==========About Section Starts Here========== -->
<div class="about about__one padding-tb bg-color">
    <div class="container">
        <div class="row g-5 flex-row-reverse align-items-end">
            <div class="col-lg-6 col-12 ps-lg-4">
                <div class="about__content">
                    <h6>How to grow business</h6>
                    <h2>Multiples actions, Same time</h2>
                    <p>
                        Currency exchange pairs can be tracked simultaneously by trading robots. The visual appearance
                        of being riveted to your screen while tracking your currencies is eliminated. You have the
                        ability to easily track multiple currencies at once.</p>
                    <p> The ability to hold and manage a multi-account trading fund has now become possible thanks to
                        trading robots. </p>
                    <p>Trading obstacles brought on by constraints on time, speed, diligence, and consistency of trading
                        plans can now be overcome thanks to automated trading.</p>
                    <p> Trading robots don't experience emotions that could affect how trades are executed. As a result,
                        interest in automated trading has increased.
                    </p>

                    <div class="about__footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="thumb thumb--2 text-end">
                            <img src="{% static 'img/ai/4a.jpg' %}" alt="About Image" />
                            <div class="thumb--experience text-start">
                                <img src="{% static 'img/about/icon/03.png' %}" alt="Icon" />
                                <h5>simultaneous
                                    <br />
                                    actions
                                </h5>
                            </div>
                            <div class="floating-img">
                                <img src="{% static 'img/ai/4b.jpg' %}" alt="About Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->


<!-- ==========specialtie Section Starts Here========== -->
<div class="specialtie specialtie__two padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="specialtie__item">
                        <div class="specialtie__inner">
                            <div class="specialtie__thumb">
                                <img src="{% static 'img/ai/5.jpg' %}" alt="" class="w-100" />
                            </div>
                            <div class="specialtie__content">
                                <h3>Accurate</h3>

                                <p>
                                    When using a AI trading algorithm, accuracy is the one thing you can count on. Data
                                    streams contain information about prices and indicators. Your bot will open or close
                                    a position in accordance with your criteria at the most precise time, whether you
                                    trade overbought/oversold zones, moving average crossovers, or any other kind of
                                    indicator.
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========specialtie Section Ends Here========== -->
{% endblock content %}