{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ siteName|default:'siteName'|upper }} Holdings | Diversity & Inclusion
{% endblock title %}

{% block header %}
header__three
{% endblock header %}

{% block site__head %}
style='font-weight: bold; color: #5E0623; font-size: 20px;'
{% endblock %}

{% block content %}
<!-- ==========Page Header Section Starts Here========== -->
<div class="pageheader" style="background: url({% static 'img/outlook/bg/pageheader.jpg' %});">
    <div class="container">
        <div class="pageheader__content">
            <h2>Diversity & Inclusion</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Home | </a></li>
                    <li class="px-2 active" aria-current="page" style="color: #5E0623;">Diversity & Inclusion</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->

<!-- ==========About Section Starts Here========== -->
<div class="about padding-tb">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 col-12">
                <div class="about__content">
                    <h2>Diversity and Inclusion</h2>
                    <p>
                        We are firmly committed to diversity. We are committed to fostering a sense of community among
                        our employees and work to build an inclusive workplace. It is the duty of every employee at {{ siteName|default:'siteName'|upper }}
                        to promote inclusivity. Our teams are aware that diversity and inclusion are differentiators.
                    </p>
                    <p>
                        It helps us become more resilient and creative, which in turn enables us to better serve our
                        investors, portfolio companies, and the neighborhoods where we work..
                    </p>
                    <p>
                        Senior Partners make up the Inclusion and Diversity Committee at {{ siteName|default:'siteName'|upper }}, which is responsible for
                        leading the organization's efforts to promote inclusion. We recently brought on board a
                        committed senior leader to lead our internal I&D initiatives and assist our portfolio companies
                        as they work to become even more inclusive. {{ siteName|default:'siteName'|upper }} is dedicated to fostering an atmosphere where
                        everyone, regardless of the diversity they bring to our teams, feels safe, seen, valued, and
                        connected.

                    </p>



                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="thumb">
                                <img src="{% static 'img/diversity/1a.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb">
                                <img src="{% static 'img/diversity/1a.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb thumb--content">
                                <h4>Diversity
                                    <br />
                                    Inclusion
                                </h4>
                                <img src="{% static 'img/about/icon/03.png' %}" alt="about icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p style="margin-top: 10px; margin-bottom: 5px;">
                The broadness and depth of our research, the strategies we provide, and the clients we serve have all
                been globalized since our inception. Our conviction that deep fundamental analysis, a long-term
                investment outlook, and a quantitative discipline can produce appealing long-term investment outcomes
                for our clients has not changed.

                When high-priced investment products flooded the marketplace - and our founders believed clients
                deserved a new kind of investment firm.
                <br />


                {{ siteName|default:'siteName'|upper }} Holdings was founded with the goal of putting clients' interests first through a focused set of
                investment strategies designed to preserve and enhance their investment capital over the long term and
                offered at reasonable and transparent fees.<br />
                These principles still guide our firm more than 14 years later.
            </p>
            <p class="px-3">Our goal is to fairly hire, develop, promote, and treat all of our employees. To create an equal playing
                field for those who work with us and the clients we serve, we are working nonstop. {{ siteName|default:'siteName'|upper }} actively supports
                non-profit groups that share our commitment </p>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->

<!-- ==========specialtie Section Starts Here========== -->
<div class="specialtie specialtie__two padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="specialtie__item">
                        <div class="specialtie__inner">
                            <div class="specialtie__thumb">
                                <img src="{% static 'img/diversity/2.jpg' %}" alt="" class="w-100" />
                            </div>
                            <div class="specialtie__content">
                                <h2>institutional investors</h2>
                                <p>The institutional investors listed below recognize the existence of structural racism
                                    and the harm it causes to Black, Indigenous, and Racialized communities around the
                                    globe.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========specialtie Section Ends Here========== -->

<!-- ==========About Section Starts Here========== -->
<div class="about about__one padding-tb bg-color">
    <div class="container">
        <div class="row g-5 flex-row-reverse align-items-end">
            <div class="col-lg-6 col-12 ps-lg-4">
                <div class="about__content">
                    <h2>Promoting diversity and inclusion</h2>
                    <p>
                        Promoting multiculturalism and inclusion is not only ethically correct, but it is also
                        advantageous to society and business. Elevated concentrations of diversity and inclusion are
                        associated with better corporate profitability, growth, and employee engagement, according to a
                        growing body of research. The inclusion of diversity and inclusion in business decisions opens
                        up opportunities for underrepresented groups, which also enhances reputation, reinforces
                        governance, and lowers risk.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="thumb thumb--2 text-end">
                            <img src="{% static 'img/diversity/3a.jpg' %}" alt="About Image" />
                            <div class="thumb--experience text-start">
                                <img src="{% static 'img/about/icon/03.png' %}" alt="Icon" />
                                <h5>We're ready to
                                    <br />
                                    assist you
                                </h5>
                            </div>
                            <div class="floating-img">
                                <img src="{% static 'img/diversity/3b.jpg' %}" alt="About Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->

<!-- ==========specialtie Section Starts Here========== -->
<div class="specialtie specialtie__two padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="specialtie__item">
                        <div class="specialtie__inner">
                            <div class="specialtie__thumb">
                                <img src="{% static 'img/diversity/4.jpg' %}" alt="" class="w-100" />
                            </div>
                            <div class="specialtie__content">
                                <h2>Take the Lead</h2>

                                <p>As a result, the investors signing this letter urge publicly traded companies to take
                                    the lead in international initiatives to address systemic inequities by advancing
                                    diversity and inclusion initiatives and enhancing transparency and accountability.
                                    We also encourage our own institutions to promote diversity and the inclusion of
                                    underrepresented people in our groups.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========specialtie Section Ends Here========== -->

<!-- ==========About Section Starts Here========== -->
<div class="about about__two padding-tb">
    <div class="container">
        <div class="section__header text-center">
            <h6>Our expectations of companies are that they endeavour to:</h6>
        </div>
        <div class="section__wrapper">
            <div class="row g-5 flex-row-reverse">
                <div class="col-lg-6 col-12">
                    <div class="about__thumb">
                        <div class="row g-4">
                            <div class="thumb thumb--2">
                                <img src="{% static 'img/diversity/5a.jpg' %}" alt="About Image" />
                                <div class="thumb--experience text-start">
                                    <div class="pie"
                                        data-pie='{ "index": 1, "percent": 80, "colorSlice": "#021738", "colorCircle": "#fff", "fontWeight": 700, "stroke": 6, "size": 70,"fontSize": "1.5rem","fontColor":"#021738" }'>
                                    </div>
                                    <h5>A true global
                                        <br />
                                        Reach
                                    </h5>
                                </div>
                                <div class="floating-img">
                                    <img src="{% static 'img/diversity/5b.jpg' %}" alt="About Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about__content">
                        <p>
                            Improve the annual public disclosure of diversity data, paying particular attention to the
                            representation of Black, Indigenous, and People of Color who self-identify as such on
                            boards, executive teams, and throughout the entire organization;
                        </p>
                        <p>
                            Adopt guidelines, deadlines, and policies to increase diversity in senior management and on
                            boards, particularly with regard to the representation of underrepresented groups, with the
                            ultimate goal of achieving racial and ethnic demographic parity.

                        </p>

                        <p>
                            By adopting hiring practices that take into account a more diverse pool of candidates and by
                            actively seeking out underrepresented voices to inform diversity and inclusion activities
                            and address challenges, organizations can broaden and make their efforts to address barriers
                            to diversity and inclusion more visible.
                        </p>

                        <p>
                            We absolutely guarantee to evaluate and revise our plan as we develop expertise, and we'll
                            let you know about the things we're doing to promote diversity and inclusion. We warmly
                            welcome network of business to join us and share knowledge and experiences in order to
                            strengthen our collective intentional efforts to build a more welcoming and anti-racist
                            financing and industry environment.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->



<!-- ==========About Section Starts Here========== -->
<div class="about about__one padding-tb bg-color">
    <div class="container">
        <div class="row g-5 flex-row-reverse align-items-end">
            <div class="col-lg-6 col-12 ps-lg-4">
                <div class="about__content">
                    <h2>A - undersigned institutional investors</h2>
                    <p>
                        We, the undersigned institutional investors, acknowledge the existence of systemic racism and
                        the effects it has on Black, Indigenous, and People of Color communities around the world.
                    </p>
                    <p>We also acknowledge that there are inequities and forms of discrimination based on things like
                        socioeconomic status, gender, sexual orientation, age, disability, and even age and sexual
                        orientation. It is up to us all to make sure that the enduring injustices in our economy and
                        society are eradicated.</p>
                    <p>
                        By making conscious efforts to promote diversity and inclusion across our portfolios and within
                        our organizations, institutional investors can help address these inequities.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="thumb thumb--2 text-end">
                            <img src="{% static 'img/diversity/6a.jpg' %}" alt="About Image" />
                            <div class="thumb--experience text-start">
                                <img src="{% static 'img/about/icon/03.png' %}" alt="Icon" />
                                <h5>We're ready to
                                    <br />
                                    assist you
                                </h5>
                            </div>
                            <div class="floating-img">
                                <img src="{% static 'img/diversity/6b.jpg' %}" alt="About Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->

<!-- ==========About Section Starts Here========== -->
<div class="about about__two padding-tb">
    <div class="container">
        <div class="section__header text-center">
            <h6>B) - Undersigned Institutional Investors</h6>
        </div>
        <div class="section__wrapper">
            <div class="row g-5 flex-row-reverse">
                <div class="col-lg-6 col-12">
                    <div class="about__thumb">
                        <div class="row g-4">
                            <div class="thumb thumb--2">
                                <img src="{% static 'img/diversity/7a.jpg' %}" alt="About Image" />
                                <div class="thumb--experience text-start">
                                    <div class="pie"
                                        data-pie='{ "index": 1, "percent": 80, "colorSlice": "#021738", "colorCircle": "#fff", "fontWeight": 700, "stroke": 6, "size": 70,"fontSize": "1.5rem","fontColor":"#021738" }'>
                                    </div>
                                    <h5>A true global
                                        <br />
                                        Reach
                                    </h5>
                                </div>
                                <div class="floating-img">
                                    <img src="{% static 'img/diversity/7b.jpg' %}" alt="About Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about__content">
                        <p>
                            It is not only morally right to encourage diversity and inclusion, but it is also beneficial
                            for business and society. A growing body of research demonstrates the correlation between
                            increased levels of diversity and inclusion and better corporate financial performance,
                            growth, and employee engagement.

                        </p>
                        <p>
                            Underrepresented groups can benefit from opportunities made possible by the incorporation of
                            diversity and inclusion into business decisions, which also improves reputation, strengthens
                            governance, and reduces risk.

                        </p>
                        <p>
                            As a result, the investors signing this letter urge publicly traded companies to take the
                            lead in international initiatives to address systemic inequities by advancing diversity and
                            inclusion initiatives and enhancing transparency and accountability.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->


<!-- ==========specialtie Section Starts Here========== -->
<div class="specialtie specialtie__two padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="specialtie__item">
                        <div class="specialtie__inner">
                            <div class="specialtie__thumb">
                                <img src="{% static 'img/diversity/8.jpg' %}" alt="" class="w-100" />
                            </div>
                            <div class="specialtie__content">
                                <h2>As investors, we will endeavour to:</h2>

                                <p>
                                    Communicate with investee companies about our expectations for better performance
                                    and disclosure on diversity and inclusion practices, including the advancement of
                                    underrepresented groups on boards, executive teams, and throughout the larger
                                    organization;
                                    integrate diversity and inclusion into our investment processes, starting with
                                    tracking and monitoring the performance of public companies in these areas,
                                    reviewing and updating our stewardship priorities and proxy voting guidelines as
                                    necessary, and interacting with external managers about their diversity and
                                    inclusion promotion strategies;
                                    enhance our own organizations' diversity and inclusion policies.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========specialtie Section Ends Here========== -->


<!-- ==========About Section Starts Here========== -->
<div class="about padding-tb">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 col-12">
                <div class="about__content">
                    <h2>Our People</h2>
                    <p>
                        We pledge to review and update our strategy as we gain experience, and we will report on our
                        initiatives to support diversity and inclusion.

                        We cordially invite additional investors to join us in advancing our sincere and concerted
                        efforts to create a business and investment environment that is more welcoming and anti-racist.
                    </p>
                    <p>
                        Diverse viewpoints and independent thought have been key to {{ siteName|default:'siteName'|upper }}'s growth as a successful
                        company. It is crucial to our hiring and talent management strategies as well as our investment
                        philosophy. Our goal is to hire the best candidates from the largest pool of applicants and to
                        help them achieve their professional goals. We see diversity in its broadest sense as essential
                        to the Company reaching its long-term objectives, including gender, social background, race,
                        sexual orientation, age, disability, learning style, and religion.
                    </p>
                    <p>
                        {{ siteName|default:'siteName'|upper }} is dedicated to fostering respect and understanding among its workers and the larger
                        industry by valuing and encouraging individuality. We support programs like Investment 20/20 and
                        provide graduates and college graduates with traineeships and apprenticeships. From a
                        professional standpoint, we are a founding member of the Diversity Project and signatories of
                        the Women in Finance Charter.

                    </p>



                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="thumb">
                                <img src="{% static 'img/diversity/9a.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb">
                                <img src="{% static 'img/diversity/9b.jpg' %}" alt="about" class="w-100" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="thumb thumb--content">
                                <h4>Diversity
                                    <br />
                                    Inclusion
                                </h4>
                                <img src="{% static 'img/about/icon/03.png' %}" alt="about icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p style="margin-top: 10px; margin-bottom: 5px;" class="px-3 mt-4 mt-sm-0">
                Because of its distinctive culture and commitment to diversity, {{ siteName|default:'siteName'|upper }} encourages employees to express
                their individuality. Therefore, not only can individual employees clearly influence what the company
                does, but also how it is done. We will continue to deliver the right results for our clients and create
                a sustainable and expanding business over the long term by putting a priority on identifying,
                developing, rewarding, and retaining talent as well as ensuring equality of opportunity.


                Three essential elements make up our overarching philosophy for creating an inclusive environment for
                diverse talent:



                A broader perspective on diversity and inclusion: We are committed to taking into account all factors,
                including socioeconomic status, disability, ethnicity, gender, and neurodiversity.<br />
                A dedication to altering people's perspectives through education and the development of corporate
                culture, as well as making sure that everyone is held accountable.<br />
                Our goal is to fairly hire, develop, promote, and treat all of our employees. <br />
                To create an equal playing field for those who work with us and the clients we serve, we are working
                nonstop. {{ siteName|default:'siteName'|upper }} actively supports non-profit groups that share our commitment </p>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->


<!-- ==========specialtie Section Starts Here========== -->
<div class="specialtie specialtie__two padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="specialtie__item">
                        <div class="specialtie__inner">
                            <div class="specialtie__thumb">
                                <img src="{% static 'img/diversity/10.jpg' %}" alt="" class="w-100" />
                            </div>
                            <div class="specialtie__content">
                                <h2>Why invest in companies that focus on
                                    inclusion and diversity?</h2>

                                <p>
                                    We think businesses cannot fully comprehend the forces influencing their industry,
                                    the global economy, and the world if they do not take inclusion and diversity (I&D)
                                    issues seriously. A diverse and well-connected group of professionals has the best
                                    chance of responding to such challenges. The most difficult challenges of today come
                                    from a diverse, interconnected world. Therefore, considering inclusion and diversity
                                    as an investment is important rather than just focusing on it from a moral
                                    perspective.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========specialtie Section Ends Here========== -->



<!-- ==========About Section Starts Here========== -->
<div class="about about__two padding-tb">
    <div class="container">
        <div class="section__header text-center">
            <h6>Inclusion and diversity can affect your bottom line</h6>
        </div>
        <div class="section__wrapper">
            <div class="row g-5 flex-row-reverse">
                <div class="col-lg-6 col-12">
                    <div class="about__thumb">
                        <div class="row g-4">
                            <div class="thumb thumb--2">
                                <img src="{% static 'img/diversity/11a.jpg' %}" alt="About Image" />
                                <div class="thumb--experience text-start">
                                    <div class="pie"
                                        data-pie='{ "index": 1, "percent": 80, "colorSlice": "#021738", "colorCircle": "#fff", "fontWeight": 700, "stroke": 6, "size": 70,"fontSize": "1.5rem","fontColor":"#021738" }'>
                                    </div>
                                    <h5>A true global
                                        <br />
                                        Reach
                                    </h5>
                                </div>
                                <div class="floating-img">
                                    <img src="{% static 'img/diversity/11b.jpg' %}" alt="About Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about__content">
                        <p>
                            We must first address the fact that determining the significance of I&D issues on company
                            performance has been hampered by poor data quality and data scarcity. BlackRock, however,
                            considers I&D as a long-term investor today for a fundamental reason.
                        </p>
                        <p>
                            Issues like I&D may become more crucial to a company's bottom line as societal preferences
                            change, whether as an employee, consumer, or investor. Currently, some studies suggest a
                            potential positive relationship between certain I&D factors and corporate performance
                            indicators.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->

<!-- ==========About Section Starts Here========== -->
<div class="about about__one padding-tb bg-color">
    <div class="container">
        <div class="row g-5 flex-row-reverse align-items-end">
            <div class="col-lg-6 col-12 ps-lg-4">
                <div class="about__content">
                    <h2>Inclusive environments attract and retain talent</h2>
                    <p>
                        Beyond gender diversity, research has discovered a correlation between LGBT-welcoming policies
                        and higher stock returns, higher firm value, higher productivity, and higher profitability. One
                        theory is that sexual-orientation equality increases a company's competitive advantages in the
                        labor markets, though more research is required to fully understand the underlying mechanism.
                    </p>
                    <p>
                        Additionally, by ensuring that all talented workers, including new parents and those caring for
                        elderly family members, can thrive in their positions, policies like flexible hours and daycare
                        services may help retain talent and lower employee turnover.
                    </p>
                    <p>
                        Companies can further develop and retain talent by using more conventional human capital
                        metrics, such as internal promotion, employee satisfaction, and management training, along with
                        systemic change to help employees adopt new habits and practices.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="thumb thumb--2 text-end">
                            <img src="{% static 'img/diversity/12a.jpg' %}" alt="About Image" />
                            <div class="thumb--experience text-start">
                                <img src="{% static 'img/about/icon/03.png' %}" alt="Icon" />
                                <h5>We're ready to
                                    <br />
                                    assist you
                                </h5>
                            </div>
                            <div class="floating-img">
                                <img src="{% static 'img/diversity/12b.jpg' %}" alt="About Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->

<!-- ==========About Section Starts Here========== -->
<div class="about about__two padding-tb">
    <div class="container">
        <div class="section__header text-center">
            <h6>Inclusion and diversity at {{ siteName|default:'siteName'|upper }}</h6>
        </div>
        <div class="section__wrapper">
            <div class="row g-5 flex-row-reverse">
                <div class="col-lg-6 col-12">
                    <div class="about__thumb">
                        <div class="row g-4">
                            <div class="thumb thumb--2">
                                <img src="{% static 'img/diversity/13a.jpg' %}" alt="About Image" />
                                <div class="thumb--experience text-start">
                                    <div class="pie"
                                        data-pie='{ "index": 1, "percent": 80, "colorSlice": "#021738", "colorCircle": "#fff", "fontWeight": 700, "stroke": 6, "size": 70,"fontSize": "1.5rem","fontColor":"#021738" }'>
                                    </div>
                                    <h5>A true global
                                        <br />
                                        Reach
                                    </h5>
                                </div>
                                <div class="floating-img">
                                    <img src="{% static 'img/diversity/13b.jpg' %}" alt="About Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about__content">
                        <p>
                            At {{ siteName|default:'siteName'|upper }}, we think "inclusion and diversity" is a skill that managers and leaders can develop,
                            and if they do, they'll have a better chance of raising the level of engagement and
                            productivity among those who work for and around them.

                        </p>
                        <p>
                            We make significant investments to create a culture where everyone has the opportunity to
                            flourish and where all voices, not just the loudest or most well-known, can contribute ideas
                            that aid in the accomplishment of our clients' objectives. We require a diverse and
                            inclusive form in order to serve our variety of clients.
                        </p>
                        <p>
                            We place a great deal of emphasis on I&D because we fully comprehend and acknowledge how a
                            diverse and inclusive workforce can contribute to innovation and better decision-making.
                            Additionally, businesses that don't take diversity and inclusion seriously miss out on the
                            chance to fully comprehend the dynamic business environment in which they operate.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->


<!-- ==========About Section Starts Here========== -->
<div class="about about__one padding-tb bg-color">
    <div class="container">
        <div class="row g-5 flex-row-reverse align-items-end">
            <div class="col-lg-6 col-12 ps-lg-4">
                <div class="about__content">
                    <h2>Investing in inclusion and diversity</h2>
                    <p>
                        More than the environment is involved in sustainable investing. On our sustainable investing
                        platform, we have also been concentrating on I&D as an investment option. We are developing
                        solutions to make it easier for investors to learn about businesses that are pioneers in
                        promoting inclusion and diversity principles throughout their operations as a result of the
                        growing interest we are receiving from our clients.

                    </p>

                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about__thumb">
                    <div class="row g-4">
                        <div class="thumb thumb--2 text-end">
                            <img src="{% static 'img/diversity/13a.jpg' %}" alt="About Image" />
                            <div class="thumb--experience text-start">
                                <img src="{% static 'img/about/icon/03.png' %}" alt="Icon" />
                                <h5>We're ready to
                                    <br />
                                    assist you
                                </h5>
                            </div>
                            <div class="floating-img">
                                <img src="{% static 'img/diversity/13b.jpg' %}" alt="About Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========About Section Ends Here========== -->
{% endblock content %}