{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ siteName|default:'siteName'|upper }} Holdings | FX Trading
{% endblock title %}

{% block site__head %}
style='font-weight: bold; color: #5E0623; font-size: 20px;'
{% endblock %}

{% block header %}
header__three
{% endblock header %}

{% block content %}
<!-- ==========Page Header Section Starts Here========== -->
<div class="pageheader" style="background: url({% static 'img/outlook/bg/pageheader.jpg' %});">
    <div class="container">
        <div class="pageheader__content">
            <h2>FX Trading</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home | </a></li>
                    <li class="px-2 active" aria-current="page" style="color: #5E0623;">FX Trading</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->

<!-- ==========Services Section Starts Here========== -->
<div class="service service__single padding-tb">
    <div class="container">
        <div class="section__wrapper">
            <div class="row g-4 justify-content-center flex-row-reverse">
                <div class="col-lg-8 col-12">
                    <div class="mainarea">
                        <div class="service__item">
                            <div class="service__inner">
                                <div class="service__thumb">
                                    <img src="{% static 'img/forex/1a.jpg' %}" alt="rajibraj" />
                                </div>
                                <div class="service__content">
                                    <h4>Our Objective.</h4>
                                    <p>The innovation ethos of {{ siteName|default:'siteName'|upper }} Holdings implies to provide its own forex strategies,
                                        signals, and analysis, which helps users to be able to learn the true knowledge
                                        of trading on their own.<br /> On the other side, we made provision for users to
                                        use our investment opportunities where our experts trade for users and make a
                                        specific percentage (%) for them on a daily, weekly, or monthly basis as well,
                                        while they train and educate themselves with the system.</p>
                                    <div class="service__thumb">
                                        <img src="{% static 'img/forex/2.jpg' %}" alt="rajibraj" />
                                    </div>
                                    <br />
                                    <h4>Our Goals.</h4>
                                    <p>
                                        Our aim is to provide its users with effective ways of earning good returns from
                                        the forex market either through our educational system or our experts trading
                                        and making good returns on behalf of the users.<br />
                                        OUR SYSTEM IS A SIMPLE DEFINITION OF LEARN AND EARN</p>

                                    <div class="service__thumb">
                                        <img src="{% static 'img/forex/3.jpg' %}" />
                                    </div>
                                    <br />

                                    <h4>Aims we have.</h4>
                                    <p>
                                        Our VISION is to provide high-quality learning opportunities to everyone who
                                        wants to educate themselves about the forex market. This encourages the
                                        development of independent learners who can contribute creatively to their
                                        community and to society at large.<br /> Additionally, by 2025, the platform
                                        aims to have a market capitalization of $20 billion USD and a user base of more
                                        than 15 million people. {{ siteName|default:'siteName'|upper }} Holdings already makes use of the benefits of
                                        artificial intelligence software (A.I.) to secure user funds and gain a
                                        significant competitive advantage in the forex market. <br />
                                        This implementation allowed for a significant increase in the precision of
                                        analytical data acquired for the creation, configuration, and fine-tuning of
                                        algorithmic systems, as well as a general increase in platform operation
                                        efficiency.
                                    </p>






                                    <div class="service__thumb">
                                        <img src="{% static 'img/forex/4.jpg' %}" alt="rajibraj" />
                                    </div>
                                    <br />
                                    <h4>Right People of A Fund Adviser</h4>
                                    <p>Our consultants believe in the value that you manage your regulatory compliance
                                        policies proced we have specialist for managed employee performance ands
                                        comparable internal advice function train people quickly well with e-business so
                                        they highly efficient manufactured products we are feel that this special
                                        functions is part of the success business.</p>
                                    <div class="feature feature__two">
                                        <div class="section__wrapper">
                                            <div class="row g-4 justify-content-center">
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <div class="feature__item">
                                                        <div class="feature__inner">
                                                            <div class="feature__thumb">
                                                                <img src="{% static 'img/forecast/feature/icon/04.png' %}"
                                                                    alt="feature icon" />
                                                            </div>
                                                            <div class="feature__content">
                                                                <h5>Cryptography</h5>
                                                                <p>
                                                                    In order to avoid the fundamental security flaws of
                                                                    current cryptographic techniques, the {{ siteName|default:'siteName'|upper }} Holdings
                                                                    Blockchain will employ unique cryptography that is
                                                                    impervious to attacks, even those carried out with
                                                                    the use of quantum computing processing power.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <div class="feature__item">
                                                        <div class="feature__inner">
                                                            <div class="feature__thumb">
                                                                <img src="{% static 'img/forecast/feature/icon/05.png' %}"
                                                                    alt="feature icon" />
                                                            </div>
                                                            <div class="feature__content">
                                                                <h5>Online Bank</h5>
                                                                <p>

                                                                    The complete digitalization of all financial
                                                                    transactions, products, and services is essential
                                                                    for the financial world's future.<br /> {{ siteName|default:'siteName'|upper }} Holding
                                                                    intends to build its own digital bank on the {{ siteName|default:'siteName'|upper }}
                                                                    Holding blockchain platform, which will lower
                                                                    network operating costs .</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <div class="feature__item">
                                                        <div class="feature__inner">
                                                            <div class="feature__thumb">
                                                                <img src="{% static 'img/forecast/feature/icon/06.png' %}"
                                                                    alt="feature icon" />
                                                            </div>
                                                            <div class="feature__content">
                                                                <h5>Socio-Economic Framework</h5>
                                                                <p>

                                                                    Private clients and businesses from all over the
                                                                    world will be able to maintain transparent terms of
                                                                    cooperation with business partners and ensure
                                                                    profitability of transactions for the sale and
                                                                    purchase of businesses and goods.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service__thumb">
                                        <img src="{% static 'img/forex/5.jpg' %}" alt="rajibraj" />
                                    </div>
                                    <br />
                                    <h4>Why Engage Forex Trading?</h4>
                                    <p>
                                        Trading foreign exchange has many features and advantages. In addition to being
                                        the most active exchange in the world, unlike the stock exchange, the forex
                                        market is open twenty-four hours a day, five days per week, from Monday through
                                        Friday.<br />
                                        Because of this, traders now have a good possibility to transact at any hour of
                                        the day or night. Because they are traded more frequently and are therefore
                                        potentially more liquid, the major currencies can generally offer traders the
                                        best potential trading opportunities. When the market is most active, many
                                        traders believe that this is the best time to trade.</p>


                                    <div class="service__thumb">
                                        <img src="{% static 'img/forex/6.jpg' %}" alt="rajibraj" />
                                    </div>
                                    <br />
                                    <h4>Purchasing Exchange-Traded Funds</h4>
                                    <p>
                                        Exchange-traded funds (ETFs) are the ideal product to quickly assemble a
                                        diversified portfolio, which simplifies investing.<br /> We provide a broad
                                        selection of ETFs that trade on 19 important exchanges.<br /> There are many
                                        investment opportunities, whether you want to invest in regional or
                                        international ETFs. <br />
                                        Even better, we provide a Core Selection of 200 ETFs with no commission fees.
                                        <br />
                                        Spread, currency, and external product costs might be involved. View the fair
                                        use policy, conditions, and ETF Core Selection here. Open a free account to
                                        explore the options.<br />
                                        We make investing in ETFs accessible to everyone with our low fees and varied
                                        trading options. View a detailed summary of our exceptional rates here.
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="sidebar">
                        <div class="row g-4">
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="sidebar__brochure">
                                    <div class="head">
                                        <h5>Trade with Us</h5>
                                    </div>
                                    <div class="body">
                                        <div class="thumb">
                                            <img src="{% static 'img/forex/03.jpg' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <p>Trading cryptocurrency with {{ siteName|default:'siteName'|upper }} Holding is the safe, convenient, and
                                                hassle-free way to invest in cryptocurrencies like bitcoin, ethereum,
                                                litecoin, and many more, whether you're looking to speculate on
                                                short-term price action or playing the long game. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="sidebar__brochure">
                                    <div class="head">
                                        <h5>Crypto</h5>
                                    </div>
                                    <div class="body">
                                        <div class="thumb">
                                            <img src="{% static 'img/forex/03.jpg' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <p>Bitcoin and other cryptocurrencies carry major risks and are
                                                significantly more precarious than conventional currencies. Please be
                                                aware that when you trade with Live Trade, you won't be the owner of or
                                                have any rights to the underlying currency. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="sidebar__helps">
                                    <div class="head">
                                        <h5>Need Help?</h5>
                                    </div>
                                    <div class="body">
                                        <div class="thumb">
                                            <img src="{% static 'img/forex/04.jpg' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <ul>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="{% static 'img/forecast/service/icon/07.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="content">
                                                        <span>Monday - Friday</span>
                                                        <p>09:00 AM - 05: 00 PM</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="{% static 'img/forecast/service/icon/08.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="content">
                                                        <span>Service Available</span>
                                                        <p>{{ phone|default:'+1 302 389 5538' }}</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="{% static 'img/forecast/service/icon/09.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="content">
                                                        <span>1000 N West</span>
                                                        <p>
                                                            {{ address|default:'St Wilmington, DE 19801, USA' }}
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Services Section Ends Here========== -->
{% endblock content %}